@model System.Collections.Generic.IEnumerable<Employee>

@{
    //Layout = null;  // this overrides all _ViewStart.cshtml loading layout code
    ViewBag.Title = "Employee List";
}

<div class="card-deck">
    @foreach (var employee in Model)
    {
        var photoPath = $"~/images/{employee.PhotoPath ?? "noimage.jpg"}";

        <div class="card m-3" style="min-width: 18rem; max-width: 31%">
            <div class="card-header">
                <h3>@employee.Name</h3>
            </div>
            <img class="card-img-top" src="@photoPath" asp-append-version="true"/>

            <div class="card-footer text-center">
                <a asp-controller="Home" asp-action="Details" asp-route-id="@employee.Id" class="btn btn-outline-info m-1">TagHelper</a>
                <a href="@Url.Action("Details", "Home", new { id = employee.Id })" class="btn btn-outline-warning m-1">HtmlHelper UrlAction</a>
                @Html.ActionLink("HtmlHelper HtmlActionLink", "Details", "Home", new { id = employee.Id })
                <a href="/home/details/@employee.Id" class="btn btn-primary m-1">View</a>
                <a href="#" class="btn btn-success m-1">Edit</a>
                <a href="#" class="btn btn-danger m-1">Delete</a>
            </div>
        </div>
    }
</div>

@section Scripts
{
    <script src="~/js/CustomScript.js"></script>
}
